* {
    box-sizing: border-box;
}  

body {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
  color: orange;
  background-color: grey;
  background-size: cover;
  background-position: center;
}

h1 {
    font-weight: 400;
    margin: 5px;
    color: orange
}

main {
    margin: 15px auto;
}

header h1 {
    background-color: grey;
    padding: 0px 15px
}